findfile>=1.7.10
autocuda>=0.12
metric-visualizer>=0.6.6
boostaug>=2.3.0
spacy
networkx
seqeval
update-checker
typing_extensions
tqdm
pytorch_warmup
termcolor
gitpython  # need git installed in your OS
transformers>=4.18.0
torch>1.0.0
sentencepiece
protobuf<4.0.0
pandas
gensim
pyabsa
git+https://github.com/yangheng95/TextAttack
tensorflow
tensorflow_hub