findfile
autocuda
metric-visualizer
boostaug
spacy
networkx
seqeval
update-checker
typing_extensions
tqdm
pytorch_warmup
termcolor
gitpython  # need git installed in your OS
transformers
torch>1.0.0
sentencepiece
protobuf<4.0.0
pandas
gensim
pyabsa[dev]
git+https://github.com/yangheng95/TextAttack
tensorflow
tensorflow_hub
nlpaug
arxiv
tokenizers
scikit-learn
datasets
numpy
requests
packaging
setuptools
gradio
nltk