recommonmark
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
Sphinx-autoapi
nbclient
nbconvert
nbsphinx
widgetsnbextension
ipykernel
ipython
ipython-genutils
ipywidgets
findfile>=1.7.9.8
autocuda>=0.11
metric-visualizer>=0.5.5
boostaug>=2.2.3
spacy
networkx
seqeval
update-checker
typing_extensions
tqdm
pytorch_warmup
termcolor
gitpython
transformers>4.20.0
torch>1.0.0
sentencepiece