recommonmark
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-markdown-tables
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
nbclient
nbconvert
nbsphinx
widgetsnbextension
ipykernel
ipython
ipython-genutils
ipywidgets
scipy
tensorboard-data-server
tensorboard-plugin-wit
transformers
sqlitedict
stanza
Cython
findfile
autocuda
metric-visualizer
boostaug
spacy
networkx
seqeval
update-checker
typing_extensions
tqdm
pytorch_warmup
termcolor
gitpython
transformers
torch
sentencepiece
pyabsa